* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding-top: 15px;
  background-color: #F6F0E8;
}

.container {
  width: 70%;
  margin: 0 auto;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
  font-weight: bold;
}

.btn {
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  font-size: medium;
}

.btnWhite {
  background: transparent;
  color: purple;
  border: 1px solid purple;
  text-transform: uppercase;
}

.btnPurple {
  color: white;
  background: purple;
  border: none;
}

.navright {
  /* float: right; */
}

.navleft {
  /* float: left; */
}

.navigation {
  display: flex;
  justify-content: space-between;

}

.mainleft {
  float: left;
}

.mainright {
  /* float: right; */
  margin-top: 80px;
}

.slack {
  padding-top: 80px;
}

.google {
  text-align: center;
  padding: .8em;
  vertical-align: center;
  margin-left: 20px;
  background: #4285f4;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  margin-top: 1em;
}

.google p {
  float: right;
  padding-top: 10px;
  margin-left: 5px;
}

img {
  background: white;
}

.transform {
  width: 600px;
  font-size: larger;
  font-size: 30px;
  padding: 12px 0;
}

.h1 {
  font-size: 80px;
  width: 600px;
}

.clear {
  clear: both;

}

.partners {
  margin-top: 100px;
}

.logoimages li {
  display: inline-block;
  list-style: none;
  margin: 30px;
  vertical-align: middle;
  background-color: #F6F0E8;
}

.now {
  width: 600px;

}

.watch-vida {
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}


.imag {
  /* float: left; */
  margin: -.96em 0;
}

.thumbnail {
  margin-top: 20px;

}

.p1 {
  margin: 30px 0;
  width: 505px;
  font-weight: 400;
  font-size: 1.125rem;
}

.h3 {
  font-size: 40px;
  width: 600px;
  margin-top: 40px;


}

.p2 {
  width: 500px;
  font-size: 20px;
  margin: 20px;
}

.u {
  float: right;
}

.mainright {
  float: right;
  width: 50%;

}

.mainleft {
  float: left;
  width: 50%;
}

.thread {
  margin-top: -5px;
}

.channelsleft {
  float: left;
}

.channelsright {
  float: right;

}

.channels {
  padding: 30px 0;
  width: 75%;
}

.channels img {
  border-radius: 7px;
}

.channel {
  float: left;
}

.time {
  float: right;
}

.section {
  margin-top: 60px;

}

.vitabu {
  margin-top: 150px;
}

.focus {
  margin-top: 150px;
}

.pause {
  float: right;
  margin-top: -220px;
  margin-right: 700px;

}

.addexternal {
  float: left;
  margin-top: 40px;

}

.brain {
  float: right;
  margin-right: 800px;
  margin-top: 40px;

}

.hands {
  float: right;
  margin-top: -390px;
  margin-right: 20px;
  width: 50%
}

.simpli {
  float: left;
  margin-top: 100px;

}

.blue {
  color: cornflowerblue;
  font-weight: bolder;
  font-size: large;
}

.h2 {
  text-align: center;
  margin-top: 60px;
  font-weight: bolder;
  font-size: 50px;
}

.get {
  margin-top: 150px;
}

.one {
  background: #4A144B;
  color: white;
  border-radius: 6px;
  width: 50px;
  height: 50px;
  margin-bottom: 30px;


}


h4 {
  font-weight: bolder;
  font-size: 20px;
}

.onee,
.two {
  float: left;
  width: 20%;
  margin: 40px 60px;

}

.three {
  float: right;
  width: 20%;
  margin: 40px 50px;
}

.p {
  padding: 10px 0;

  margin-bottom: 60px;
}

.pic {
  float: left;
  margin: 0 30px;
  background: white;
  padding: 6px;
}

.learn {
  padding-top: 50px;


}

.pic p {
  margin-top: 20px;
  width: 150px;
}

.pic learn {
  color: #4285f4
}

.black {
  background: black;
  color: #ffffff
}


.btnfree {
  padding: 15px;
  background: white;
  color: purple;
  border: 2px solid white;
  padding: 20px 40px;
  border-radius: 5px;
  font-weight: bolder;
  font-size: medium;
  margin-top: 30px;
  margin-left: 140px;
}

.btntalk {

  border: 2px solid white;
  padding: 20px 40px;
  background: #4A144B;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  font-size: medium;
  margin-left: 1px;


}

.welcome {
  width: 100%;
  font-size: 30px;
  background: #4A144B;
  color: white;
  padding: 90px 590px;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;

}

.slack {
  padding-left: 200px;
  margin-bottom: 10px
}

.ends {
  margin-top: -50px;
  padding-left: 7rem;
  float: left;
}


.ends ul li {
  list-style-type: none;
  padding: 1rem 0;
}

.endx {
  padding: 0 2rem;
  margin: 2rem 3rem;
  list-style-type: none;
  display: inline-block;
}